@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

*,
*::before,
*::after{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     text-decoration: none;
     list-style: none;
}

:root{
     --common-padding: 2rem 5rem;
     --common-margin: 2rem 0;
}

[data-theme="dark"]{
     color-scheme: dark;
     --color-primary: #0a0a0a;
     --color-secondary: #ffffff;
     --color-orange: #ff5c2c;
     --color-faint: rgba(255,255,255,0.6);
     --color-faint-2: rgba(255,255,255,0.15);
}

[data-theme="light"]{
     color-scheme: light;
     --color-secondary: #0a0a0a;
     --color-primary: #ffffff;
     --color-orange: #ff5c2c;
     --color-faint: rgba(0,0,0,0.8);
     --color-faint-2: rgba(0,0,0,0.15);
}

html{
     font-size: 62.5%;
     font-family: 'Poppins', sans-serif;
}

body{
     overflow-x: hidden;
     background-color: var(--color-primary);
     color: var(--color-secondary);
}

/* REUSE STYLES */
.main--heading{
     font-size: 2.8rem;
     font-weight: 900;
}

.btn{
     border: none;
     outline: none;
     font-size: 1.6rem;
     cursor: pointer;
     font-weight: 600;
     padding: 1.2rem 1.9rem;
     border-radius: 4rem;
     background-color: transparent;
}

.btn--primary-outline{
     padding: 1rem 1.9rem;
     border: 1px solid var(--color-secondary);
}

.btn--primary-filled{
     background-color: var(--color-orange);
     border: 3px solid transparent;
     transition: 0.4s;
}

.btn--primary-filled:hover{
     border: 3px solid var(--color-secondary);
}

.arrow-icon{
     display: block;
     width: 8rem;
     height: 8rem;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: var(--color-orange);
     cursor: pointer;
     z-index: 99999;
}

.arrow-icon > i{
     transform: rotate(-45deg);
     font-size: 3.2rem;
     color: var(--color-secondary);
}


/* HEADER */
.header{
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
     padding: var(--common-padding);
     gap: 1.3rem;
}

.header .navbar .navbar__items{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     gap: 2.3rem;
}

.header .navbar .navbar__items li .navbar__item{
     font-size: 1.43rem;
     cursor: pointer;
     color: var(--color-faint);
}

.header .navbar .navbar__items li .navbar__item:is(.active, :hover){
     color: var(--color-secondary);
}

/* MAIN BANNER */
.mainBanner{
     padding: var(--common-padding);
     display: grid;
     grid-template-columns: 1fr 30rem;
     gap: 2.8rem;
     align-items: center;
}

/* .mainBanner .mainBanner__leftBx h3{
     font-size: 7rem;
     line-height: 1.1;
     font-weight: 500;
} */

.mainBanner .mainBanner__rightBx p{
     font-size: 1.6rem;
     font-weight: 400;
     color: var(--color-faint);
     line-height: 1.6;
     margin-bottom: 1.4rem;
}

/* MAIN IMG BOX */
.mainImgBx{
     padding: var(--common-padding);
     position: relative;
     width: 100%;
     height: 60rem;
     display: flex;
     justify-content: center;
     align-items: center;
     overflow: hidden;
     margin: var(--common-margin);
}

.mainImgBx .imgBx{
     position: absolute;
     inset: 0;
     width: auto;
     height: 100%;
     overflow: hidden;
     border-top-right-radius: 3rem;
     border-top-left-radius: 3rem;
     margin: var(--common-padding);
}

.mainImgBx .imgBx img{
     position: absolute;
     inset: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
}

.specsBx{
     display: flex;
     flex-wrap: wrap;
     position: absolute;
     top: 8rem;
     right: 0%;
     transform: translate(-20%, -50%);
     padding: 1.4rem 3rem;
     background: rgba(0, 0, 0, 0.33);
     backdrop-filter: blur(3px);
     gap: 3rem;
     border-radius: 1.5rem;
}

.specsBx .specsBx__box h4{
     font-size: 2.5rem;
     font-weight: 500;
     color: #fff;
}

.specsBx .specsBx__box span{
     color: #fff;
     font-size: 1.4rem;
}

/* Special Card */
.specialCard{
     padding: var(--common-padding);    
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 1.4rem;
}

.specialCard .specialCard__box{
     background-color: var(--color-secondary);
     color: var(--color-primary);
     padding: 2rem;
     border-radius: 2rem;
     display: flex;
     align-items: flex-end;
     justify-content: space-between;
}

.specialCard .specialCard__box .leftBx h2{
     font-size: 3.6rem;
     font-weight: 540;
     line-height: 1.21;
}

.specialCard .specialCard__box .leftBx .numberBx h4{
     font-size: 1.8rem;
}

.specialCard .specialCard__box .leftBx .numberBx p{
     font-size: 1.2rem;
}

.specialCard .specialCard__box .leftBx__bottomBx{
     display: flex;
     flex-wrap: wrap;
     gap: 2.2rem;
     margin-top: 1.6rem;
}

.specialCard .specialCard__box .leftBx .leftBx__bottomBx .userBxs{
     /* background-color: red; */
     display: flex;
     margin-left: 1rem;
}

.specialCard .specialCard__box .leftBx .leftBx__bottomBx .userBxs .userBx{
     position: relative;
     width: 4rem;
     height: 4rem;
     border-radius: 50%;
     overflow: hidden;
     margin-left: -1.2rem;
     border: 2px solid var(--color-primary);
}

.specialCard .specialCard__box .leftBx .leftBx__bottomBx .userBxs .userBx > img{
     position: absolute;
     inset: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
}


/* TEXT BOX */
.textBx{
     display: grid;
     grid-template-columns: 1fr 35rem;
     align-items: center;
     padding: var(--common-padding);
     margin: var(--common-margin);
}

.text{
     font-size: 5rem;
     line-height: 1.1;
     font-weight: 500;
}

.textBx p{
     font-size: 1.2rem;
     color: var(--color-faint);
}

/* HOUSESHOW CASE */
.houseShowCase{
     display: grid;
     grid-template-columns: repeat(9, 1fr);
     grid-template-rows: repeat(9, 1fr);
     padding: var(--common-padding);
     height: 75rem;
     grid-gap: 1.8rem;
     margin: var(--common-margin);
}

.houseShowCase__box{
     position: relative;
     border-radius: 2.2rem;
     overflow: hidden;
     cursor: pointer;
}

.houseShowCase__box > img{
     position: absolute;
     inset: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
}

.houseShowCase__box:nth-child(1){
     grid-column: 1 / 4;
     grid-row: 1 / 4;
}

.houseShowCase__box:nth-child(2){
     grid-column: 4 / 7;
     grid-row: 1 / 6;
}

.houseShowCase__box:nth-child(3){
     grid-column: 7 / -1;
     grid-row: 1 / 4;
}

.houseShowCase__box:nth-child(4){
     grid-column: 1 / 4;
     grid-row: 4 / -1;
}

.houseShowCase__box:nth-child(5){
     grid-column: 4 / 7;
     grid-row: 6 / -1;
}

.houseShowCase__box:nth-child(6){
     grid-column: 7 / -1;
     grid-row: 4 / -1;
}

.houseShowCase__box .headingBx{
     position: absolute;
     width: 100%;
     background-color: rgba(0, 0, 0, 0.33);
     backdrop-filter: blur(3px);
     color: #fff;
     bottom: 0;
     left: 0;
     padding: 0.6rem 1rem;
}

.houseShowCase__box .headingBx h3{
     font-size: 2.5rem;
     line-height: 1.2;
}

.houseShowCase__box .headingBx > div{
     display: flex;
     justify-content: space-between;
}

.houseShowCase__box .headingBx > div p{
     font-size: 1.3rem;
     color: #fff;
}

.houseShowCase__box .headingBx > div b{
     font-size: 1.8rem;
}

.houseShowCase__box .iconBx{
     position: absolute;
     top: -50%;
     left: -50%;
     background-color: rgba(0, 0, 0, 0.33);
     width: 100%;
     height: 100%;
     padding: 1rem;
     backdrop-filter: blur(3px);
     transform: translate(-50%, -50%);
     transition: 0.5s ease-in-out;
}

.houseShowCase__box:hover .iconBx{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

/* SINGLE HOUSE BOX */
.singleHouseBx{
     position: relative;
     display: flex;
     align-items: center;
     margin: var(--common-margin);
     padding: var(--common-padding);
}

.singleHouseBx .singleHouseBx__leftBx{
     position: relative;
     flex: 0 0 40rem;
     height: 45rem;
     overflow: hidden;
     border-radius: 2rem;
}

.singleHouseBx .singleHouseBx__leftBx > img{
     position: absolute;
     inset: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
}

.singleHouseBx .singleHouseBx__rightBx .textBx{
     display: block;
}

.singleHouseBx .singleHouseBx__rightBx .textBx .tags{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 1.2rem;
     margin-bottom: 1.2rem;
}

.singleHouseBx .singleHouseBx__rightBx .textBx .tags .tag{
     font-size: 1.8rem;
     background-color: var(--color-faint-2);
     border-radius: 2rem;
     padding: 1rem 2rem;
     cursor: pointer;
     line-height: 1.2;
}

/* .singleHouseBx .singleHouseBx__rightBx .textBx .tags .tag:hover{
     background-color: var(--color-faint);
} */


.singleHouseBx .singleHouseBx__rightBx .textBx p{
     margin: 1.8rem 0;
     line-height: 1.8;
     font-size: 1.5rem;
}

.singleHouseBx__leftBx .contentBx{
     position: absolute;
     /* inset: 0; */
     left: 2rem;
     bottom: 2rem;
     width: 20rem;
     /* height: 20rem; */
     padding: 1rem ;
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: rgba(255,255,255,0.22);
     backdrop-filter: blur(10px);
     border-radius: 2rem;
}

.singleHouseBx__leftBx .contentBx .iconBx .arrow-icon{
     width: 6rem;
     height: 6rem;
}

.singleHouseBx__leftBx .contentBx h2{
     font-size: 2.4rem;
}

.singleHouseBx__leftBx .contentBx p{
     font-size: 1.3rem;
     margin-bottom: 1rem;
}

/* ABOUT US BOX */
.aboutBx{
     position: relative;
     padding: var(--common-padding);
}

.aboutBx .textBx{
     background-color: var(--color-orange);
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     border-radius: 2rem;
}

.aboutBx .textBx > div{
     width: 70rem;
}

.aboutBx .textBx > div p{
     font-size: 1.7rem;
     line-height: 1.4;
     margin-top: 1.2rem;
}

.aboutBx .messageBx{
     position: absolute;
     right: 3.5rem;
     top: 0;
     /* width: 20rem; */
     padding: 1.6rem 2rem;
     border-radius: 2rem;
     /* height: 20rem; */

     background-color: var(--color-secondary);
}

.aboutBx .messageBx form{
     display: flex;
     flex-direction: column;
     gap: 1.2rem;
}

.aboutBx .messageBx form .inputBx{
     width: 28rem;
}

.aboutBx .messageBx form .inputBx input, textarea{
     width: 100%;
     height: 100%;
     padding: 1.3rem 0.8rem;
     border: none;
     outline: none;
     font-size: 1.5rem;
     border-bottom: 2px solid var(--color-primary);
     background-color: var(--color-secondary);
     color: var(--color-primary);
     font-weight: 500;
}

.aboutBx .messageBx form .inputBx span{
     color: var(--color-primary);
     font-size: 2.5rem;
     font-weight: 600;
}

/* FOOTER */
footer{
     padding: var(--common-padding);
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 3.5rem;
     margin: var(--common-margin);
     margin-top: 5rem;
     border-top: 1px solid var(--color-faint);
}

footer .footer__box h2{
     font-size: 2.3rem;
     margin-bottom: 1.9rem;
}

footer .footer__box .logoBx h1{
     margin-bottom: 1.3rem;
}

footer .footer__box > p{
     font-size: 1.53rem;
     line-height: 1.4;
     /* color: var(--color-faint); */
}

footer .footer__box:not(:first-child) ul{
     display: flex;
     flex-direction: column;
     gap: 0.4rem;
     font-size: 1.4rem;
     color: var(--color-faint);
}

footer .footer__box ul li{
     cursor: pointer;
     font-size: 1.7rem;
}

footer .footer__box ul li:not(:last-child){
     margin-bottom: 0.7rem;
}

footer .footer__box ul li:hover{
     color: var(--color-secondary);
}



/* MEDIA QUERIES */
@media(max-width: 1205px){
     html{
        font-size: 58%;  
     }
}

@media(max-width: 991px){
     html{
          font-size: 55%;
     }
     .mainBanner{
          grid-template-columns: 1fr;
     }

     .singleHouseBx{
          display: block;
     }

     .singleHouseBx__rightBx .textBx {
          padding: 0;
          margin-top: 3rem;
     }

     .aboutBx .messageBx{
          background-color: rgba(255,255,255,0.25);
     }

     /* .aboutBx .messageBx form .inputBx input{
          background: transparent;
     } */
}

@media(max-width: 768px){
     :root{
          --common-padding: 2rem 3rem; 
     }

     .text{
          font-size: 4rem;
     }

     .textBx{
          grid-template-columns: 1fr !important;
          grid-gap: 1rem;
     }

     .specialCard{
          grid-template-columns: 1fr !important;
     }

     .houseShowCase__box:nth-child(1){
          grid-column: 1 / 7;
     }

     .houseShowCase__box:nth-child(2){
          grid-column: 7 / -1;
          grid-row: 1 / 4;
     }

     .houseShowCase__box:nth-child(3){
          grid-column: 1 / -1;
          grid-row: 4 / span 3;
     }
     
     .houseShowCase__box:nth-child(4),
     .houseShowCase__box:nth-child(5),
     .houseShowCase__box:nth-child(6){
          grid-row: 7 / -1;

     }

     footer{
          grid-template-columns: 1fr;
     }
}

@media(max-width: 900px){
     .aboutBx{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
     }
     
     .aboutBx .messageBx {
          width: 100%;
          position: relative;
          margin-left: 6rem;
          /* margin: var(--common-margin); */
          background-color: var(--color-secondary);
     }

     .aboutBx .messageBx form .inputBx{
          width: 100%;
     }

     .aboutBx .textBx > div{
          width: 100%;
     }
}

@media(max-width: 600px){
     .houseShowCase__box:nth-child(1){
          grid-column: 1 / -1;
          grid-row: 1 / 4;
     }

     .houseShowCase__box:nth-child(2){
          grid-column: 1 / -1;
          grid-row: 7 / -1;
     }

     .houseShowCase__box:nth-child(4),
     .houseShowCase__box:nth-child(5),
     .houseShowCase__box:nth-child(6){
          display: none;
     }
}


@media(max-width: 450px){
     html{
          font-size: 50%;
     }

     .mainImgBx .specsBx{
          display: none;
     }
}
